<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登陆</title>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="background-color: #F7F7F7">
    <div class="container">
        <div class="row" style="margin-top: 200px">
            <div class="offset-4 col-4 text-center" style="background-color: #f1f1f1; border-radius: 20px; padding: 20px 40px">
                <form action="/admin/login" method="post" class="form">
                    <h4 class="mb-3" style="color: #666">QUT Search 管理员登陆</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">账号</span>
                        </div>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">密码</span>
                        </div>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <input type="submit" class="btn btn-primary" value="    登    录    ">
                </form>
            </div>
        </div>
    </div>
</body>
</html>