<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不追踪你的隐私的搜索引擎</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        /*去掉bootstrap自带的input输入框半透明阴影*/
        .form-control:focus {
            box-shadow: none;
        }
        /*去除下拉菜单按钮的箭头*/
        .dropdown-toggle::after {
            display: none;
        }
    </style>
</head>
<body style="background-color: #F7F7F7">
<div class="container">


    <div class="fixed-bottom">
        <p class="text-center" style="color: darkgrey">© 2021 QUT Search www.qutsearch.com</p>
    </div>
</div>
</body>
</html>